/**Body CSS**/
html{
    scroll-behavior: smooth;
}
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;


    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0px;
    min-height: 300vh;
    background: #111827;

    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
  
  
}


/**Navbar CSS**/
.navbar{
    display: flex;
    background: #111827;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
 
}


.logo{
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links{
    display: flex;
    list-style: none;
    gap:1.5rem;
    

}
.nav-links a{
    text-decoration:none;
    color:white;
    position: relative;
    transition: 0.3s;

}


.nav-links a::after{
    content: "";
    position: absolute;
    left:0;
    bottom:-5px;

    width: 0px;
    height:2px;
    background: #3b82f6;
    transition: width 0.3s;

}

.nav-links a:hover::after {
  width: 100%;
}


.nav-links a.active {
  color: #8f3bf6;
}

/**Hero CSS**/
.hero{
    min-height: 90vh;

    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;

    padding: 0 5%;
    background: #111827;
    margin: 20px;
    margin-top: 100px;
    color: white;

    border-radius: 20px;
    border: 1px solid rgba(59, 130, 246, 0.6);
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.4);
}
.hero:hover{
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.6);
    transform: translateY(-8px);
}

.hero-content{
    max-width:500px;
}

.hero h1{
    font-size: 3rem;
    color: white;
}
.hero h2{
    color: #3B82F6;
    margin: 10px 0px;
}

.hero p{
    line-height: 1.7;
    margin:20px  0px;

    
}

.hero-buttons{
    display: flex;
    gap: 1rem;
    margin-top: 20px;
}

.hero-buttons a{
    text-decoration: none;
    
}

.btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 12px 24px;

    border-radius: 10px;
    font-size: 1rem;
    font-weight: 500;

    cursor: pointer;
    transition: all 0.3s ease;

    text-decoration: none;
    line-height: 1;
}

/* PRIMARY BUTTON */
.btn.primary{
    background-color: #3b82f6;
    color: white;
    border: none;
}

.btn.primary:hover{
    background: #2563eb;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(59, 130, 246, 0.3);
}

/* SECONDARY BUTTON */
.btn.secondary{
    background: transparent;
    color: #3b82f6;

    border: 2px solid #3b82f6;
}

.btn.secondary:hover{
    background: #3b82f6;
    color: white;

    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(59, 130, 246, 0.2);
}

.hero-image img{
    width:300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #3b82f6;
    animation: floatImg 3s ease-in-out infinite;
}
    
@keyframes floatImg {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

/**About CSS**/


.about{
    padding:100px 5%;
    text-align: center;
    background: #111827;
    color:white;
    margin:20px;

    border-radius: 20px;
    border: 1px solid rgba(59, 130, 246, 0.6);
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.4);
}

.about:hover{
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.6);
    transform: translateY(-8px);
}

.about h2{
    font-size: 2.5rem;
    color:white;
    margin-bottom: 20px;
}

.about-text{
    max-width: 700px;
    margin: 0 auto 40px;
    line-height: 1.7;
    color:#d1d5db;
}

.about-cards{
    display: flex;
    justify-content: center;
    gap:25px;
    flex-wrap: wrap;

}

.card{
    width: 250px;
    padding:25px;

    background:  #1F2937;
    color:white;
    border-radius: 15px;

 
    cursor: pointer;
    border: 1px solid rgba(59, 130, 246, 0.3);
    transition: 0.3s;

}

.card:hover{
    border-color: #3b82f6;
    transform: translateY(-8px);

     box-shadow:
        0 0 15px rgba(59, 130, 246, 0.6),
        0 0 30px rgba(59, 130, 246, 0.3);
}

.card h3{
    margin-bottom: 10px;
    color:#3b82f6
}

/* Skills Section */
.skills{
   padding:100px 5%;
    text-align: center;
    background: #111827;
    color:white;
    margin:20px;

    border-radius: 20px;
    border: 1px solid rgba(59, 130, 246, 0.6);
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.4);
}
.skills:hover{
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.6);
    transform: translateY(-8px);
}
.skills-text{
    max-width: 700px;
    margin: 15px auto 40px;

    color: #d1d5db;
    line-height: 1.7;

    font-size: 1rem;
}

/* Container */
.skills-container{
    max-width: 700px;
    margin: auto;
    text-align: left;
    
}

/* Each skill block */
.skill{
    margin-bottom: 20px;
}

/* Skill name */
.skill p{
    margin-bottom: 5px;
    color: #111827;
    font-weight: bold;
    color:white;
}

/* Background bar */
.bar{
    width: 100%;
    height: 10px;
    background: #E5E7EB;
    border-radius: 20px;
    overflow: hidden;
}

/* Animated fill */
.bar span{
    display: block;
    height: 100%;
    width: 0;

    background: #3b82f6;
    border-radius: 20px;

    animation: fillBar 1.5s forwards ease-in-out;
}

/* Skill levels */
.html{ --skill-width: 90%; }
.css{ --skill-width: 85%; }
.bootstrap{ --skill-width: 80%; }
.js{ --skill-width: 40%; }

/* Animation */
@keyframes fillBar {
    from {
        width: 0;
    }
    to {
        width: var(--skill-width);
    }
}
/* PROJECTS SECTION */
.projects{
    padding: 100px 5%;
    text-align: center;
    background: #111827;
    color: white;
    margin: 20px;

    border-radius: 20px;
    border: 1px solid rgba(59, 130, 246, 0.6);
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.4);

    transition: all 0.3s ease;
}

.projects:hover{
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.6);
    transform: translateY(-8px);
}

/* TEXT */
.projects-text{
    max-width: 700px;
    margin: 15px auto 40px;
    color: #d1d5db;
    line-height: 1.7;
}

/* CONTAINER */
.projects-container{
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

/* CARD */
.project-card{
    width: 300px;
    background: #1F2937;
    padding: 25px;
    border-radius: 15px;

    border: 1px solid rgba(59, 130, 246, 0.2);
    transition: all 0.3s ease;
}

.project-card:hover{
    transform: translateY(-10px);
    border-color: #3b82f6;
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.4);
}



/* BUTTONS (GitHub / Project) */
.project-card a,
.project-card button{
    display: inline-block;

    margin-top: 10px;
    padding: 10px 15px;

    background: #3b82f6;
    color: white;

    border-radius: 10px;
    text-decoration: none;
    border: none;

    cursor: pointer;
    transition: 0.3s;
}

.project-card a:hover,
.project-card button:hover{
    background: #2563eb;
    transform: scale(1.05);
}
/* Experience Section */
.experience{
    padding:100px 5%;
    text-align: center;
    background: #111827;
    color: white;
    margin:20px;

    border-radius: 20px;
    border: 1px solid rgba(59, 130, 246, 0.6);
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.4);

    transition: all 0.3s ease;
}

/* Hover effect */
.experience:hover{
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.6);
    transform: translateY(-8px);
}

/* Text intro */
.experience-text{
    max-width: 700px;
    margin: 15px auto 40px;
    color: #d1d5db;
    line-height: 1.7;
}

/* Container */
.experience-container{
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

/* Cards */
.experience-card{
    width: 300px;
    background: #1F2937;
    padding: 25px;
    border-radius: 15px;

    border: 1px solid rgba(59, 130, 246, 0.2);

    transition: all 0.3s ease;
}

/* Hover */
.experience-card:hover{
    transform: translateY(-10px);

    border-color: #3b82f6;

    box-shadow:
        0 0 15px rgba(59, 130, 246, 0.4),
        0 0 25px rgba(59, 130, 246, 0.2);
}

/* Date */
.experience-card span{
    display: inline-block;
    margin-top: 10px;

    font-size: 0.9rem;
    color: #3b82f6;
}

/* Blog Section */
.blog{
    padding:100px 5%;
    text-align: center;
    background: #111827;
    color: white;
    margin:20px;

    border-radius: 20px;
    border: 1px solid rgba(59, 130, 246, 0.6);
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.4);

    transition: all 0.3s ease;
}

/* Hover glow */
.blog:hover{
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.6);
    transform: translateY(-8px);
}

/* Text */
.blog-text{
    max-width: 700px;
    margin: 15px auto 40px;
    color: #d1d5db;
    line-height: 1.7;
}

/* Container */
.blog-container{
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

/* Cards */
.blog-card{
    width: 300px;
    background: #1F2937;
    padding: 25px;
    border-radius: 15px;

    border: 1px solid rgba(59, 130, 246, 0.2);

    transition: all 0.3s ease;
}

/* Hover */
.blog-card:hover{
    transform: translateY(-10px);

    border-color: #3b82f6;

    box-shadow:
        0 0 15px rgba(59, 130, 246, 0.4),
        0 0 25px rgba(59, 130, 246, 0.2);
}

/* Link */
.blog-card a{
    display: inline-block;
    margin-top: 10px;

    color: #3b82f6;
    text-decoration: none;
    font-weight: bold;
}

.blog-card a:hover{
    text-decoration: underline;
}

/* Testimonials Section */
.testimonials{
    padding:100px 5%;
    text-align: center;
    background: #111827;
    color: white;
    margin:20px;

    border-radius: 20px;
    border: 1px solid rgba(59, 130, 246, 0.6);
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.4);

    transition: all 0.3s ease;
}

/* Hover glow */
.testimonials:hover{
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.6);
    transform: translateY(-8px);
}

/* Intro text */
.testimonials-text{
    max-width: 700px;
    margin: 15px auto 40px;
    color: #d1d5db;
    line-height: 1.7;
}

/* Container */
.testimonials-container{
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
}

/* Card */
.testimonial-card{
    width: 300px;
    background: #1F2937;
    padding: 25px;
    border-radius: 15px;

    border: 1px solid rgba(59, 130, 246, 0.2);

    transition: all 0.3s ease;
}

/* Hover effect */
.testimonial-card:hover{
    transform: translateY(-10px);

    border-color: #3b82f6;

    box-shadow:
        0 0 15px rgba(59, 130, 246, 0.4),
        0 0 25px rgba(59, 130, 246, 0.2);
}

/* Name */
.testimonial-card h4{
    margin-top: 15px;
    color: #3b82f6;
}


/* CONTACT SECTION */
.contact{
    padding: 100px 5%;
    text-align: center;
    background: #111827;
    color: white;
    margin: 20px;

    border-radius: 20px;
    border: 1px solid rgba(59, 130, 246, 0.6);
    box-shadow: 0 0 10px rgba(59, 130, 246, 0.4);

    transition: all 0.3s ease;
}

.contact:hover{
    box-shadow: 0 0 20px rgba(59, 130, 246, 0.6);
    transform: translateY(-8px);
}

/* TEXT */
.contact-text{
    max-width: 700px;
    margin: 15px auto 30px;
    color: #d1d5db;
    line-height: 1.7;
}

/* ICON ROW */
.contact-social-row{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.contact-social-row a{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #1F2937;
    border-radius: 12px;

    border: 1px solid rgba(59, 130, 246, 0.3);

    transition: 0.3s;
}

.contact-social-row a:hover{
    background: #3b82f6;
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(59,130,246,0.5);
}

.icon{
    width: 22px;
    height: 22px;
    color: white;
}

/* EMAIL BUTTON */
.email-btn{
    display: inline-block;
    margin: 20px 0;

    padding: 10px 20px;
    background: #3b82f6;
    color: white;

    border-radius: 10px;
    text-decoration: none;

    transition: 0.3s;
}

.email-btn:hover{
    background: #2563eb;
    transform: scale(1.05);
}
.contact-hint{
    margin: 20px 15px 0 0;
    margin-top: 20px;
    color: #9ca3af;
    font-size: 0.95rem;
}
/* FORM */
.contact-form{
    max-width: 600px;
    margin: auto;
}

/* ROW INPUTS */
.contact-form .row{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

/* INPUTS + TEXTAREA */
.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 12px;

    border-radius: 10px;
    border: none;
    outline: none;

    background: #1F2937;
    color: white;

    font-size: 1rem;
}

/* TEXTAREA */
.contact-form textarea{
    resize: none;
    margin-bottom: 15px;
}

/* BUTTON */
.contact-form button{
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 10px;

    background: #3b82f6;
    color: white;

    cursor: pointer;

    transition: 0.3s;
    font-size: 1rem;
}

.contact-form button:hover{
    background: #2563eb;
    transform: scale(1.05);
}

/* FOOTER */
.footer{
    background: #0f172a;
    color: #d1d5db;

    padding: 50px 5%;
    border-top: 1px solid rgba(59, 130, 246, 0.2);
}

/* container */
.footer-container{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}

/* name */
.footer-container h3{
    color: #3b82f6;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* text */
.footer-container p{
    color: #9ca3af;
    margin-bottom: 20px;
    line-height: 1.6;
}

/* links */
.footer-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 10px 0;
}

.footer-links a{
    text-decoration: none;
    color: #d1d5db;

    transition: 0.3s;
}

/* hover effect */
.footer-links a:hover{
    color: #3b82f6;
    transform: translateY(-2px);
}

/* bottom text */
.footer-bottom{
    margin-top: 20px;
    font-size: 0.85rem;
    color: #6b7280;
}